header {
    box-shadow: 0px 1px 2px gray;
    background-color: $primary-color;
    .sticky {
        position: fixed;
        top: 0;
        height: 70px;
        z-index: 5;
        background-color: $primary-color;
        width: 100%
    }
    .bar {
        display: flex;
        justify-content: space-between;
        height: 40px;
    }
    .menu {
        cursor: pointer;
        left: 0;
        color: $text-primary-color;
    }
    .action {
        cursor: pointer;
        right: 0;
        color: $text-primary-color;
    }
    .logo img{
        text-align: center;
        background-image: url(/boolean-logo.png);
        width: 130px;
        height: 30px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -130px;
    }
}
